<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="clickfotoConnectionString" connectionString="Data Source=localhost\sqlexpress2008r2;Initial Catalog=clickfoto;User ID=sa;Password=sql@douglas"
      providerName="System.Data.SqlClient" />
    <add name="clickfotosConnectionString" connectionString="Data Source=localhost\SQLEXPRESS2008R2;Initial Catalog=clickfotos;Persist Security Info=True;User ID=sa;Password=sql@douglas"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>